In [9]:
import pandas as pd

In [2]:
df = pd.read_csv("wine.data")

In [3]:
df.count()

1        177
14.23    177
1.71     177
2.43     177
15.6     177
127      177
2.8      177
3.06     177
.28      177
2.29     177
5.64     177
1.04     177
3.92     177
1065     177
dtype: int64

In [4]:
import xgboost

In [1]:
import pg8000

In [2]:
db_params = {'user': 'postgres',
'password': '',
    		'host': 'db',
   		 'database': 'postgres',
   		 'port': 5432}

In [3]:
connection = pg8000.connect(**db_params)

In [4]:
connection

In [5]:
from sqlalchemy import create_engine

In [6]:
# Create a SQLAlchemy engine using pg8000
engine=create_engine(f'postgresql+pg8000://{db_params["user"]}:{db_params["password"]}@{db_params["host"]}:{db_params["port"]}/{db_params["database"]}')

In [7]:
# Specify the table name
table_name = 'wine'

In [11]:
# Use to_sql to write the DataFrame to the PostgreSQL database using SQLAlchemy engine
df.to_sql(name=table_name, con=engine, index=False, if_exists='replace')

177

In [13]:
# Select data from wine table
query = f'SELECT * FROM {table_name}'
df_read = pd.read_sql_query(query, con=engine)

In [14]:
# print 5 first row
df_read.head()

,1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5.64,1.04,3.92,1065
0,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450

In [10]:
# query for counting rows
query_count = f'SELECT COUNT(*) FROM {table_name}'
count_result = pd.read_sql_query(query_count, con=engine)

In [11]:
count_result

   count
0    177